body{
  width: 100%;
  margin: 0 auto;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}

form, .comfirm{
  padding: 10px 13%;
}

.formField{
  padding: 50px 20px;
}

input, label{
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.comfirm span{
  color: blue;
}

@media screen and (max-width: 768px){
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .nav-links.visible {
    display: flex;
    background: #333333;
    z-index: 1000;
    padding: 20px 0;
  }

  .navbar{
    background:#fff;
    padding: 10px 8%;
  }

  nav ul li a{
    color: #fff;
  }

  .bar{
    background: #333333;
  }

  .banner-img{
    display: none;
  }

  form, .comfirm{
    padding: 10px 8%;
  }


  .header section, .menu-container{
    padding: 10px 8%;
  }
  .menu-container{
    margin: 20px 0;
  }
  .menu-header{
    justify-content: flex-start;
  }

  .menu-items{
    width: 100%;
  }

  footer section{
    padding: 10px 8%;
    flex-direction: column;
  }
  .company-info p{
    width: 100%;
  }
}

.hidden{
  display: none;
}